<!-- Add this css File in head tag-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

 <!--
        If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
        Slide effect: slide, fade
        Text Align: slide_style_center, slide_style_left, slide_style_right
        Add Text Animation: https://daneden.github.io/animate.css/
        -->

        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

          <!-- 调节提示语弹出效果 -->
            <%= render "common/flashes" %>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室1"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">重新定义工作效率</h1>
                                <p data-animation="animated fadeInLeft">用科学的方法打造舒适|安静|规整的高效创作空间</p>
                                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">舒适空间</a>
                                <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">高效空间</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <%= image_tag 'head-2.jpg', class: 'img-responsive' %>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">重新定义工作效率</h1>
                        <p data-animation="animated lightSpeedIn">用科学的方法打造舒适|安静|规整的高效创作空间</p>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">舒适空间</a>
                        <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">高效空间</a>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室3"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">重新定义工作效率</h1>
                        <p data-animation="animated fadeInRight">用科学的方法打造舒适|安静|规整的高效创作空间</p>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">舒适空间</a>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">高效空间</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->

        <!-- 第二个模块 -->
          <div style="text-align: center;margin-top: 150px; margin-bottom:100px">
            <h3>助力你财富自由的科学工作空间</h3>
            <p> 一段文字</p>
            <a href="http://bootsnipp.com/fullscreen/Padax"target="_blank"> 点击了解 </a>
          </div>

          <!-- 第三个模块 -->
          <div style="text-align:center">
            <h3>你不知道的慢性工作杀手</h3>
          </div>
          <div class="productDecription">
            <div class="productDecription-menuList bg-color1">
              <div class="productDecription-menuList-item bg-color2">腰颈疼痛</div>
              <div class="productDecription-menuList-item bg-color3">视觉疲劳</div>
              <div class="productDecription-menuList-item bg-color4">心脑杀手</div>
              <div class="productDecription-menuList-item bg-color5">分心狂魔</div>
            </div>
            <div class="productDecription-content">
              <div class="productDecription-content-item bg-color6" style="display: block;">
               <%= image_tag 'pic-1.png', class: 'img-responsive' %>
              </div>
              <div class="productDecription-content-item bg-color7">
               <%= image_tag 'pic-2.png', class: 'img-responsive' %>
              </div>
              <div class="productDecription-content-item bg-color8">
               <%= image_tag 'pic-3.png', class: 'img-responsive' %>
              </div>
              <div class="productDecription-content-item bg-color9">
               <%= image_tag 'pic-4.png', class: 'img-responsive' %>
              </div>
            </div>
          </div>

          <!-- 第四个模块 -->
          <div style="text-align:center;margin-top: 80px; margin-bottom:50px">
          <h3>在这里快速找到最佳空间方案</h3>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-1">
            </div>
          <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
              <%= image_tag 'pic-1.svg', class: 'img-responsive' %>
              <div class="caption">
                <h3>最佳的科学指导</h3>
                <p>商品</p>
                <p><%= link_to '进入空间', products_path, class: 'btn btn-primary'%></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-2">
          </div>
          <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
              <%= image_tag 'pic-2.svg', class: 'img-responsive' %>
              <div class="caption">
                <h3>最In的品质保障</h3>
                <p>商品</p>
                <p><%= link_to '进入空间', products_path, class: 'btn btn-primary'%></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-2">
          </div>
          <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
              <%= image_tag 'pic-3.svg', class: 'img-responsive' %>
              <div class="caption">
                <h3>最少的时间成本</h3>
                <p>商品</p>
                <p><%= link_to '进入空间', products_path, class: 'btn btn-primary'%></p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-1">
            </div>
          </div>

          <!-- 第五个模版 -->
          <div style="text-align: center;margin-top: 80px; margin-bottom:50px">
            <h3>他们说</h3>
            <div class="row">
            <div class="col-sm-4 col-md-3">
            </div>
            <div class="col-sm-4 col-md-2">
              <div class="thumbnail">
                <%= image_tag 'xdite.jpg', class: 'img-circle'%>
                <div class="caption">
                  <h3>Xdite</h3>
                  <p>一段文字</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-2">
            </div>
            <div class="col-sm-4 col-md-2">
              <div class="thumbnail">
                <%= image_tag 'lixiaolai.jpg', class: 'img-circle'%>
                <div class="caption">
                  <h3>李笑来</h3>
                  <p>一段文字</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-3">
            </div>
          </div>

          <!-- 第六个模块 -->
          <div class="jumbotron">
            <h1 class="title">成长从好的空间开始</h1>
            <p><%= link_to '马上定制', products_path, class: 'btn btn-primary'%></p>
          </div>
